@font-face {
  font-family: "Bitter Pro",
  font-weight: 100,
  font-style: normal;
  src:
    url(../fonts/BitterPro-Thin.woff2) format("woff2"),
    url(../fonts/BitterPro-Thin.otf) format("opentype");
}

@font-face {
  font-family: "Bitter Pro",
  font-weight: 100,
  font-style: italic;
  src:
    url(../fonts/BitterPro-ThinItalic.woff2) format("woff2"),
    url(../fonts/BitterPro-ThinItalic.otf) format("opentype");
}

@font-face {
  font-family: "Bitter Pro",
  font-weight: 200,
  font-style: normal;
  src:
    url(../fonts/BitterPro-ExtraLight.woff2) format("woff2"),
    url(../fonts/BitterPro-ExtraLight.otf) format("opentype");
}

@font-face {
  font-family: "Bitter Pro",
  font-weight: 200,
  font-style: italic;
  src:
    url(../fonts/BitterPro-ExtraLightItalic.woff2) format("woff2"),
    url(../fonts/BitterPro-ExtraLightItalic.otf) format("opentype");
}

@font-face {
  font-family: "Bitter Pro",
  font-weight: 300,
  font-style: normal;
  src:
    url(../fonts/BitterPro-Light.woff2) format("woff2"),
    url(../fonts/BitterPro-Light.otf) format("opentype");
}

@font-face {
  font-family: "Bitter Pro",
  font-weight: 300,
  font-style: italic;
  src:
    url(../fonts/BitterPro-LightItalic.woff2) format("woff2"),
    url(../fonts/BitterPro-LightItalic.otf) format("opentype");
}

@font-face {
  font-family: "Bitter Pro",
  font-weight: 400,
  font-style: normal;
  src:
    url(../fonts/BitterPro-Regular.woff2) format("woff2"),
    url(../fonts/BitterPro-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Bitter Pro",
  font-weight: 400,
  font-style: italic;
  src:
    url(../fonts/BitterPro-Italic.woff2) format("woff2"),
    url(../fonts/BitterPro-Italic.otf) format("opentype");
}

@font-face {
  font-family: "Bitter Pro",
  font-weight: 500,
  font-style: normal;
  src:
    url(../fonts/BitterPro-Medium.woff2) format("woff2"),
    url(../fonts/BitterPro-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Bitter Pro",
  font-weight: 500,
  font-style: italic;
  src:
    url(../fonts/BitterPro-MediumItalic.woff2) format("woff2"),
    url(../fonts/BitterPro-MediumItalic.otf) format("opentype");
}

@font-face {
  font-family: "Bitter Pro",
  font-weight: 600,
  font-style: normal;
  src:
    url(../fonts/BitterPro-SemiBold.woff2) format("woff2"),
    url(../fonts/BitterPro-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: "Bitter Pro",
  font-weight: 600,
  font-style: italic;
  src:
    url(../fonts/BitterPro-SemiBoldItalic.woff2) format("woff2"),
    url(../fonts/BitterPro-SemiBoldItalic.otf) format("opentype");
}

@font-face {
  font-family: "Bitter Pro",
  font-weight: 700,
  font-style: normal;
  src:
    url(../fonts/BitterPro-Bold.woff2) format("woff2"),
    url(../fonts/BitterPro-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Bitter Pro",
  font-weight: 700,
  font-style: italic;
  src:
    url(../fonts/BitterPro-BoldItalic.woff2) format("woff2"),
    url(../fonts/BitterPro-BoldItalic.otf) format("opentype");
}

@font-face {
  font-family: "Bitter Pro",
  font-weight: 800,
  font-style: normal;
  src:
    url(../fonts/BitterPro-ExtraBold.woff2) format("woff2"),
    url(../fonts/BitterPro-ExtraBold.otf) format("opentype");
}

@font-face {
  font-family: "Bitter Pro",
  font-weight: 800,
  font-style: italic;
  src:
    url(../fonts/BitterPro-ExtraBoldItalic.woff2) format("woff2"),
    url(../fonts/BitterPro-ExtraBoldItalic.otf) format("opentype");
}

@font-face {
  font-family: "Bitter Pro",
  font-weight: 900,
  font-style: normal;
  src:
    url(../fonts/BitterPro-Black.woff2) format("woff2"),
    url(../fonts/BitterPro-Black.otf) format("opentype");
}

@font-face {
  font-family: "Bitter Pro",
  font-weight: 900,
  font-style: italic;
  src:
    url(../fonts/BitterPro-BlackItalic.woff2) format("woff2"),
    url(../fonts/BitterPro-BlackItalic.otf) format("opentype");
}

:root {
  --pico-font-family: 'Bitter Pro', serif;
  --pico-font-size: 125%;
}

body {
  padding-top: 5em;
}

h1 {
  --pico-font-weight: 100;
}

h1 > a {
  --pico-text-decoration: none;
}

article {
  --pico-block-spacing-vertical: 2rem;
  --pico-block-spacing-horizontal: 2rem;
}
