:root {
  --pico-font-family: 'Bitter Pro', serif;
  --pico-font-size: 125%;
}

body {
  padding-top: 5em;
}

h1 {
  --pico-font-weight: 100;
}

h1 > a {
  --pico-text-decoration: none;
}

article {
  --pico-block-spacing-vertical: 2rem;
  --pico-block-spacing-horizontal: 2rem;
}
