:root {
  --pico-font-family: 'Bitter Pro', serif;
  --pico-font-size: 140%;
  --pico-line-height: 1.4;
}

h1 {
  --pico-font-weight: 100;
}

h1 > a {
  --pico-text-decoration: none;
}

article {
  --pico-block-spacing-vertical: 2rem;
  --pico-block-spacing-horizontal: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin: auto;
  max-width: 900px;
}
